
p{
    color: cornsilk;
}

div {
    background-color: black;
    
}


h1{
    color: rgb(30, 163, 70);
    font-family: Brush Script MT,cursive; 
    font-size: 100px;
} 
      




